<div>
  <div>
    <h1>
      Jobs
    </h1>
  </div>
</div>

<hr>

<div>
    <h5>
      <a href='/jobs/creator'>
      Add a new job
      </a>
    </h5>
  
</div>

<div>
<%= search_form_for @q do |f| %>
  <p>Narrow results:</p>

  <div>
    <%= f.label :role_cont, "Role containing" %>
    <%= f.text_field :role_cont, :placeholder => "Enter a few characters" %>
  </div>
  <div>
    <%= f.label :org_name_cont, "Organization name"%>
    <%= f.text_field :org_name_cont %>
  </div>
  <div>
  <%= f.label :industry_id_eq, "Industry" %>
  <%= f.select :industry_id_eq, options_from_collection_for_select(Industry.all, :name, :name, @q.industry_id_eq), { :include_blank => true } %>
</div>
<div>
    <label>
      <%= f.check_box :int_students_true, {}, 1, nil  %>
      Accepts international students 
    </label>

</div>

  <%= f.submit :class => "btn btn-primary " %>
  
  <a href="/jobs">Clear filters</a>
<% end %>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Role
        </th>

        <th>
          Organization
        </th>

        <th>
          Industry
        </th>

        <th>
          International students?
        </th>

        <th>
          Deadline
        </th>

        <th>
          Posted at
        </th>

        <th>
          Apply
        </th>

      </tr>

      <% @list_of_jobs.each do |a_job| %>
      <tr>
        <td>
          <a href="/jobs/<%= a_job.id %>">
          <%= a_job.role %>
          </a>
        </td>

         <td>
          <a href="/organizations/<%= a_job.org.id %>">
          <%= a_job.org.name %>
          </a>
        </td>
         <td>
          <%= a_job.industry.name %>
        </td>

        <td>
          <%if a_job.int_students== true%>
            Yes
          <%else%>
            No
          <%end %>
        </td>

        <td>
          <%= a_job.deadline %>
        </td>

         <td>
          <%= time_ago_in_words(a_job.created_at) %> ago
        </td>

        <td>
          <a href="<%= a_job.link %>" target="_blank">
            Apply
          </a>
          
        </td>



      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
