<div>
  <div>
    <h1>
      List of all industries
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new industry
    </h2>

    <form action="/insert_industry" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="jobs_count_box">
          Jobs count
        </label>

        <input type="text" id="jobs_count_box" name="query_jobs_count">
      </div>

      <button>
        Create industry
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Jobs count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_industries.each do |an_industry| %>
      <tr>
        <td>
          <%= an_industry.id %>
        </td>

        <td>
          <%= an_industry.name %>
        </td>

        <td>
          <%= an_industry.jobs_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_industry.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_industry.updated_at) %> ago
        </td>

        <td>
          <a href="/industries/<%= an_industry.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
