<div>
  <div>
    <h1>
      <%= @the_industry.name %> 
    </h1>
    <% if InterestedIndustry.where({ :user_id => @current_user.id, :industry_id => @the_industry.id }).at(0)==nil%>
    <form action="/follow_from_show" method="post">
    <input type="hidden" id="interested_from_show" name="show_interest_id" value='<%=@the_industry.id%>'>
    <button>
      Follow
    </button>
    </form>
    <%else%>
      <%interested = InterestedIndustry.where({ :industry_id => @the_industry.id, :user_id => @current_user.id}).at(0)%>
      <form action="/delete_from_show/<%=interested.id%>" method="get">
    <input type="hidden" id="industry_id_show" name="industry_redirect" value='<%=@the_industry.id%>'>
    <button>
      Unfollow
    </button>
    </form>
    <%end%>
    <h3>
      <%if @the_industry.jobs_count==1%>
      <%= @the_industry.jobs_count %> Job
      <%else%>
      <%= @the_industry.jobs_count %> Jobs
      <%end %>
    </h3>

    <div>
      <div>
        <a href="/industries">
          Go back
        </a>
      </div>
      <%if @current_user!=nil && @current_user.id==1%>
      <div>
        <a href="/delete_industry/<%= @the_industry.id %>">
          Delete industry
        </a>
      </div>
      <%end %>
    </div>
  </div>

  <div>
    <%if @the_industry.jobs_count==nil%>
      <div>There are currently no listed <%=@the_industry.name%> jobs. <a href='/jobs/creator'>Add one!</a>
      </div>
    <%else%>
        <table>
          <tr>

            <th>
              Role
            </th>

            <th>
              Organization
            </th>

            <th>
              Industry
            </th>

            <th>
              International students?
            </th>

            <th>
              Deadline
            </th>

            <th>
              Posted at
            </th>

            <th>
              Apply
            </th>

          </tr>

          <% @the_industry.jobs.each do |a_job| %>
          <tr>
            <td>
              <a href="/jobs/<%= a_job.id %>">
              <%= a_job.role %>
              </a>
            </td>

            <td>
              <a href="/organizations/<%= a_job.org.id %>">
              <%= a_job.org.name %>
              </a>
            </td>
            <td>
              <%= a_job.industry.name %>
            </td>

            <td>
              <%if a_job.int_students== true%>
                Yes
              <%else%>
                No
              <%end %>
            </td>

            <td>
              <%= a_job.deadline %>
            </td>

            <td>
              <%= time_ago_in_words(a_job.created_at) %> ago
            </td>

            <td>
              <a href="<%= a_job.link %>" target="_blank">
                Apply
              </a>
              
            </td>



          </tr>
          <% end %>
        </table>
    <%end %>
  </div>


<hr>

<%if @current_user!=nil && @current_user.id==1%>
<div>
  <div>
    <h2>
      Edit industry
    </h2>

    <form action="/modify_industry/<%= @the_industry.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_industry.name %>">
      </div>

      <div>
        <label for="jobs_count_box">
          Jobs count
        </label>

        <input type="text" id="jobs_count_box" name="query_jobs_count" value="<%= @the_industry.jobs_count %>">
      </div>

      <button>
        Update industry
      </button>
    </form>
  </div>
</div>
<%end%>
<hr>
