<div>
    <h1>
      <%= @the_organization.name %> 
    </h1>


      <div>
        <a href="/organizations/<%=@the_organization.id%>">
          Go back
        </a>
      </div>
 
    <dl>
      <dt>
        <a href="<%= @the_organization.website %>">
        Website
        </a>
      </dt>
    
    </dl>
  </div>

<div>
<%if @final_num_reviews==0 || @final_num_reviews==nil %>
  No reviews
<%elsif @final_num_reviews==1%>
 Rating (based on 1 rating): <b><%=@final_rating%>/5.0</b>
<%else %>
  Rating (based on <%=@final_num_reviews%> ratings): <b><%=@final_rating%>/5.0</b>
<%end%>
</div>
<hr>
<h2>
  Write a review
</h2>
 <form action="/insert_rating_from_org/<%=@the_organization.id%>" method="post">
      <div>
        <label for="rating_box">
          Rating:
        </label>
        <select id="rating_box" name="my_rating">
          <option value='1'>
            1 (working with this organization was terrible)
          </option>
          <option value="2">
            2 
          </option>
          <option value="3">
            3 
          </option>
          <option value="4">
            4 
          </option>
          <option value="5">
            5 (working with this organization was great!)
          </option>
        </select>
        <div>
        <label for="expl_box">
          Review
        </label>
        </div>

        <input type="textarea" id="expl_box" name="query_explanation">
      </div>


      <button>
        Add Review
      </button>
    </form>
<hr>
  <h2>
  Reviews 
  </h2>
  <div>
    <%if @allratings.at(0)==nil%>
      <div>No reviews
      </div>
    <%else%>
        <table>
          <tr>

            <th>
              Description
            </th>

            <th>
              Rating
            </th>

            <th>
              Posted at
            </th>

          </tr>
    <%@allratings.each do |one_rating|%>
      <tr>
            <td>
              <%=one_rating.explanation%>
            </td>
            <td>
              <%=one_rating.user_rating%>
            </td>
            <td>
              <%=one_rating.created_at%>
            </td>
        </tr>
    <%end %>
    <%end%>
  </div>
  