<div>
    <h1>
      <%= @the_organization.name %> 
    </h1>


      <div>
        <a href="/organizations/<%=@the_organization.id%>">
          Go back
        </a>
      </div>
 
    <dl>
      <dt>
        <a href="<%= @the_organization.website %>">
        Website
        </a>
      </dt>
    
    </dl>
  </div>

<div>
<%if @final_num_reviews==0 || @final_num_reviews==nil %>
  No reviews
<%elsif @final_num_reviews==1%>
 Rating (based on 1 rating): <%=@final_rating%>
<%else %>
  Rating (based on <%=@final_num_reviews%> ratings): <%=@final_rating%>
<%end%>
</div>
<hr>
<h2>
  Write a review
</h2>
 <form action="/insert_rating_from_org/<%=@the_organization.id%>" method="post">
      <div>
        <label for="rating_box">
          Rating:
        </label>
        <select id="rating_box" name="my_rating">
          <option value='1'>
            1 (working with this organization was terrible)
          </option>
          <option value="2">
            2 
          </option>
          <option value="3">
            3 
          </option>
          <option value="4">
            4 
          </option>
          <option value="5">
            5 (working with this organization was great!)
          </option>
        </select>
        <div>
        <label for="expl_box">
          Review
        </label>
        </div>

        <input type="textarea" id="expl_box" name="query_explanation">
      </div>


      <button>
        Add Review
      </button>
    </form>
  <h2>
  Reviews 
  </h2>
  <div>
  
  </div>
  