<div>
  <div>
    <h1>
      My industries
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Follow a new industry
    </h2>

    <form action="/insert_interested_industry" method="post">
      <div>
        <label for="interest_id_box">
          Industry
        </label>
        <select id="interest_id_box" name="query_interest_id">
          
          <% @left_industries.all.order(:name).each do |a_industry|%>
          <option value="<%=a_industry.id%>">
            <%= a_industry.name%>
          </option>
          <% end%>
        </select>
      </div>

      <button>
        Follow industry
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>


        <th>
          Industry
        </th>
        <th>
        </th>
      </tr>

      <% @listed_and_liked.each do |an_interested_industry| %>
      <tr>

        <td>
          <a href="/industries/<%= an_interested_industry.id %>">
          <%= an_interested_industry.name %>
          </a>
        </td>

        <td>
        <%back_to_interested = InterestedIndustry.where({ :industry_id => an_interested_industry.id}).at(0)%>
        <a href="/delete_interested_industry/<%= back_to_interested.id %>">
          Unfollow
        </a>
      </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
