<div>
  <div>
    <h1>
      Interested industry #<%= @the_interested_industry.id %> details
    </h1>

    <div>
      <div>
        <a href="/interested_industries">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_interested_industry/<%= @the_interested_industry.id %>">
          Delete interested industry
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Industry
      </dt>
      <dd>
        <%= @the_interested_industry.industry_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_interested_industry.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_interested_industry.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_interested_industry.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit interested industry
    </h2>

    <form action="/modify_interested_industry/<%= @the_interested_industry.id %>"  method="post" >
      <div>
        <label for="industry_id_box">
          Industry
        </label>

        <input type="text" id="industry_id_box" name="query_industry_id" value="<%= @the_interested_industry.industry_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_interested_industry.user_id %>">
      </div>

      <button>
        Update interested industry
      </button>
    </form>
  </div>
</div>

<hr>
