<div>
  <div>
    <h1>
      <%= @the_organization.name %> 
    </h1>

    <div>
      <div>
        <a href="/organizations">
          Go back
        </a>
      </div>
      <%if @current_user!= nil && @current_user.id==1%>
      <div>
        <a href="/delete_organization/<%= @the_organization.id %>">
          Delete organization
        </a>
      </div>
      <%end%>
    </div>

    <dl>
      <dt>
        <a href="<%= @the_organization.website %>">
        Website
        </a>
      </dt>
    
    </dl>
  </div>
</div>
<div>
<%if @final_num_reviews==0 || @final_num_reviews==nil %>
  No ratings
<%elsif @final_num_reviews==1%>
 Rating (based on 1 rating): <%=@final_rating%>/5.0
<%else %>
  Rating (based on <%=@final_num_reviews%> ratings): <%=@final_rating%>/5.0
<%end%>
<div>
<a href="/ratings/<%=@the_organization.id%>">
  See all reviews or write your own
</a>
</div>
</div>
<hr>

<%if @current_user!=nil && @current_user.id==1%>
<div>
  <div>
    <h2>
      Edit organization
    </h2>

    <form action="/modify_organization/<%= @the_organization.id %>"  method="post" >
      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website" value="<%= @the_organization.website %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_organization.name %>">
      </div>

      <button class="btn btn-warning">
        Update organization
      </button>
    </form>
  </div>
</div>

<hr>
<%end%>
<h3>Jobs at <%= @the_organization.name %> </h3>
<div>
    <%if @the_organization.jobs.at(0)==nil%>
      <div>There are currently no listed <%=@the_organization.name%> jobs. <a href='/jobs/creator'>Add one!</a>
      </div>
    <%else%>
        <table>
          <tr>

            <th>
              Role
            </th>

            <th>
              Industry
            </th>

            <th>
              International students?
            </th>

            <th>
              Deadline
            </th>

            <th>
              Posted at
            </th>

            <th>
              Apply
            </th>

          </tr>

          <% @the_organization.jobs.each do |a_job| %>
          <tr>
            <td>
              <a href="/jobs/<%= a_job.id %>">
              <%= a_job.role %>
              </a>
            </td>
            <td>
              <%= a_job.industry.name %>
            </td>

            <td>
              <%if a_job.int_students== true%>
                Yes
              <%else%>
                No
              <%end %>
            </td>

            <td>
              <%= a_job.deadline %>
            </td>

            <td>
              <%= time_ago_in_words(a_job.created_at) %> ago
            </td>

            <td>
              <a href="<%= a_job.link %>" target="_blank">
                Apply
              </a>
              
            </td>



          </tr>
          <% end %>
        </table>
    <%end %>
  </div>
